{% extends 'partiels/page.html' %}

{% block content %}

{% include 'partiels/_alert_message.html' %}

{% if items %}

    <section class="section_container">
        <div class="slider-wrapper">
            <div class="slider">
                {% for item in items %}
                    <img src="{{ item.get_picture_url() }}" id="{{ item.name }}" alt="">
                {% endfor %}
            </div>
            <div class="slider-nav">
                {% for item in items %}
                    <a href="#{{ item.name }}"></a>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const slides = document.querySelectorAll('.slider img');
        const totalSlides = slides.length;
        let index = 0;

        setInterval(() => {
            index = (index + 1) % totalSlides;
            document.querySelector('.slider').scrollTo({
                left: slides[index].offsetLeft,
                behavior: 'smooth'
                });
            }, 5000);
        });
    </script>
{% endif %}

<br>

<div class="content">
    <div class="text-content">
        <h1>SHOP HUB</h1>
        <p>
            Découvrez notre boutique en ligne, votre destination privilégiée pour des produits de qualité à des prix imbattables. Explorez une vaste sélection d'articles tendance, des vêtements aux accessoires, en passant par les gadgets innovants. Profitez d'une expérience de shopping agréable, avec des livraisons rapides et un service client à votre écoute.
        </p>
    </div>
</div>

{% endblock %}